* {margin: 0; padding: 0;}
li {list-style: none;}
a {text-decoration: none;}

/* ===============대가리부분======================= */
header {
  height: 100px;
  width: 100%;
  background: linear-gradient(to right,#00131A, #183961); 
  color: #fff;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.title_name {
  float: left;
  margin: auto;
  height: 100%;
  display: flex;
  width: 25%;
  justify-content: flex-start;
}

.title_t {
  margin: auto;
}

/* ===============메뉴부분======================= */
.title {
  width: 100%;
  height: 100%;
}
.title_menu {
  position: relative;
  width: 75%;
  height: 100%;
  float: left;
  display: flex;
  align-items: flex-end;
}

nav {
  float: left;
  height: 100%;
  width: 100%;
  margin: auto;
}

nav ul li a {
  margin-left: 40px;
  float: left;
  justify-content: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-top: 45px;
}
.menu_b {
  width: 100%;
  height: 100%;
}
.menu_b li {
  float: right;
  margin-right: 30px;
}

nav ul li a:hover {
  text-decoration: underline;
}
li > ul > li {
  line-height: 50px;
  background-color: #94a9ff;
}
li > ul {
  height: 0; 
  overflow: hidden;
}
.menu_a > li:hover {
  background-color: #94a9ff;
  transition-duration: 0.5s;
}
.menu_a > li:hover .ul {
  height: 250px; 
  transition-duration: 1s;
}

/* ===============몸통부분======================= */
